@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--Dark-cyan);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
}
.container {
  width: 345px;
  text-align: center;
  position: relative;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.container .background-color {
  background-image: url(images/bg-pattern-card.svg);
  width: 100%;
  height: 20vh;
}
.container img {
  margin-top: -5rem;
  border-radius: 50%;
  border: 5px solid #fff;
}
.container .content {
  padding: 0 0 25px 0;
}
.container .content .profile {
  margin-top: 2rem;
}
.container .content .profile h2 {
  color: var(--Very-dark-desaturated-blue);
  margin: 3rem 0 0 0;
}
.container .content .profile h2 > span {
  color: var(--Dark-gray);
}
.container .content .profile > span {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--Dark-gray);
}
.container .content hr {
  opacity: 0.3;
}
.container .content .score-container {
  display: inline-flex;
  gap: 3rem;
}
.container .content .score-container .box {
  margin-top: 1.5rem;
}
.container .content .score-container .box h3 {
  color: var(--Very-dark-desaturated-blue);
  margin: 0;
}
.container .content .score-container .box span {
  color: var(--Dark-gray);
}
.attribution {
  text-align: center;
  margin-top: 5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  transition: .5s;
}
.attribution a:hover {
  color: var(--Very-dark-desaturated-blue);
}